<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.2.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">

    <!-- 开启SpringMVC注解模式 -->
    <mvc:annotation-driven></mvc:annotation-driven>

    <!-- 扫描com.wxfood包下的所有使用注解的类型 -->
    <context:component-scan base-package="com.wxfoods"></context:component-scan>

    <!--    上传文件配置-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--        默认编码-->
        <property name="defaultEncoding" value="UTF-8"></property>
        <!--        配置上传文件的大小限制，最大为31M-->
        <property name="maxUploadSize" value="32505856"></property>
        <!--        内存中的最大值-->
        <property name="maxInMemorySize" value="4096"></property>
    </bean>


<!--配置springmvc拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <!--      定义需要拦截的请求；/**:表示以/开头的任意控制层请求;  /*:只能拦截一个/的请求-->
            <mvc:mapping path="/admin/alertpwd.do"/>
            <mvc:mapping path="/manage/getmanage.do"/>
            <mvc:mapping path="/foodmanage/*"/>
            <mvc:mapping path="/userreview/*"/>
            <mvc:mapping path="/userdynamic/*"/>
            <!--      定义不拦截的请求-->
            <mvc:exclude-mapping path="/admin/login.do"/>
            <!--      配置拦截类-->
            <bean id="loginInterceptor" class="com.wxfoods.utils.LoginInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>


</beans>